:root {
  --fuente1: "Montserrat", sans-serif;
  --fuente2: "Titillium Web", sans-serif;

  --verde: #cbec13;
  --verdeOscuro: #8ba10f;
  --negro: #000;
  --gris: #6e6e6e;
  --blanco: #ffffff;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
}

.header {
  background-image: url("../img/wallpaper.jpg");
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.bi {
  font-size: 4rem;
  color: var(--verde);
}

/************** ( 'NAV' ) **************/

.text-brand {
  color: var(--blanco);
  font-size: 2.7rem !important;
  font-family: var(--fuente1) !important;
  font-weight: 600 !important;
}

.logoverde {
  color: var(--verde);
}

.navbar-toggler {
  color: #cbec13 !important;
}

.navbar-toggler-icon {
  color: #cbec13 !important;
}

#navegacion a:hover {
  color: var(--verde) !important;
  transform: scale(1.3);
  transition: 0.3s;
}

.navegacion a {
  font-family: var(--fuente1);
}

.activa {
  color: var(--verde) !important;
}

.navbar {
  padding-bottom: 0 !important;
}

.animacion {
  animation-duration: 3s;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-name: animarImagen1;
}

@keyframes animarImagen1 {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  30% {
    opacity: 0;
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: scale(1);
  }
}

/************** ( 'PRESENTATION' ) **************/

.imagen {
  width: 100px;
  display: block;
  margin: 0 auto;
  padding-top: 6rem;
}

@media (min-width: 375px) {
  .imagen {
    width: 190px;
    display: block;
    padding-top: 2rem;
  }
}

.gridHead {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 60%;
  height: 100vh;
}

@media (min-width: 768px) {
  .gridHead {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    height: 100vh;
  }

  .imagen {
    width: min(100%, 90rem);
  }
}

.txt1 {
  font-family: var(--fuente1);
  font-size: 2rem;
}

.txt2 {
  color: var(--verde);
  font-weight: 900;
  font-family: var(--fuente2);
  font-size: 3rem;
}

@media (min-width: 992px) {
  .txt2 {
    font-size: 5rem;
    font-family: var(--fuente1);
  }
}

.txt3 {
  color: var(--verde);
  font-family: var(--fuente1);
  font-size: 2rem;
}

/************** ( 'ANIMACION' ) **************/
.textox {
  display: block;
  /* font-family: monospace; */
  white-space: nowrap;
  border-right: 4px solid;
  width: 17ch; /* numero de caracteres */

  animation: typing 2s steps(17), blink 5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/************** ( 'ABOUT' ) **************/

main {
  background-color: var(--negro);
}

.contenedorAbout {
  background-color: var(--negro);
  border-top: 1px solid rgb(255, 255, 255);
}

@media (min-width: 1024px) {
  .contenedorAbout {
    height: 100vh;
  }
}

.titleAbout {
  font-size: 5rem;
  font-family: var(--fuente1);
  font-weight: bold;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.borderx {
  border-bottom: 5px solid var(--verde);
}

.about__text1 {
  font-weight: bold;
  color: var(--gris);
}
.about__text2 {
  color: var(--gris);
  font-family: var(--fuente1);
}
.btn-success {
  background-color: var(--verde);
  color: var(--negro);
}
.btn-success:hover {
  color: var(--negro);
  background-color: #8ba10f;
  border-color: var(--negro);
}

.skill {
  width: 100px;
  height: 100px;
  background-size: cover;
  filter: grayscale();
}

.skill1 {
  background-image: url(../img/iconsskills/html.png);
}
.skill2 {
  background-image: url(../img/iconsskills/css.png);
}
.skill3 {
  background-image: url(../img/iconsskills/bootstrap.png);
}
.skill4 {
  background-image: url(../img/iconsskills/sass.png);
}
.skill5 {
  background-image: url(../img/iconsskills/javascript.png);
}
.skill6 {
  background-image: url(../img/iconsskills/git.png);
}
.skill7 {
  background-image: url(../img/iconsskills/github.png);
}
.skill8 {
  background-image: url(../img/iconsskills/wordpress.png);
}
.skill9 {
  background-image: url(../img/iconsskills/mysql_original_wordmark_logo_icon_146417.png);
}
.skill10 {
  background-image: url(../img/iconsskills/photoshop.png);
}
.skill11 {
  background-image: url(../img/iconsskills/ssh.png);
}
.skill12 {
  background-image: url(../img/iconsskills/lua.png);
}
.skill13 {
  background-image: url(../img/iconsskills/visual\ studio.png);
}
.skill14 {
  background-image: url(../img/iconsskills/visualStudio.png);
}
.skill15 {
  background-image: url(../img/iconsskills/windows.png);
}
.skill16 {
  background-image: url(../img/iconsskills/linux.png);
}
.skill17 {
  background-image: url(../img/iconsskills/apache.png);
}


.gridSkills > div:hover {
  filter: inherit;
  transform: scale(1.1);
  transition: .5s;
}










.simplescrollup__button {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  transition: 1s all;
  z-index: 10000;
}
.simplescrollup__button--show {
  transform: translateX(0);
}
.simplescrollup__button--hide {
  transform: translateX(100px);
}

